@*
Razor View page
Home subfolder <-> HomeController.cs
Index filename <-> Index action method
*@

@* Replace title section placeholder *@
@section title {
    <h1>Welcome to Home page!</h1>
}

@* Replace body placeholder *@
<p>
    This is our new home!
</p>
