@model Product

<form>
    <label asp-for="Name" class="col-form-label"></label>
    <input type="text" asp-for="Name" class="form-control" disabled>

    <label asp-for="Price" class="col-form-label"></label>

    @{
        string? priceString = Model.Price?.ToString("c", CultureInfo.CreateSpecificCulture("en-US")); 
    }

    <input type="text" asp-for="Price" class="form-control" value="@priceString" disabled>
    
</form>