@model ProductViewModel

@section title {
    @if (Model != null)
    {
        @* Use conditional operator in case the Model.Product is null *@
        <h3>Product: @Model.Product?.Name</h3>
    }
}

@if (Model != null)
{
    <partial name="_Product" model="@Model" />
}