.container {
    display: flex;
}

p {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

ul {
    height: 200px;
    width: 170px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

ul li {
    cursor: pointer;
    border-bottom: 1px solid #eee;
    padding: 2px 10px;
    font-size: 14px;
}

ul li:hover {
    background-color: #08c;
}

.buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

button {
    margin: 5px;
}