<!--
    Use mat-flat-button style
-->
<button mat-flat-button (click)="addMovie()">
  <!-- Use icon name from https://fonts.google.com/icons -->
  <mat-icon>add</mat-icon>
  Add a movie
</button>

<app-generic-list [elements]="movies">
  <ng-container content>
    <div class="movies-container">
      @for(movie of movies; track $index) {
        <div class="movie-container">
          <a>

            @if(movie.poster){
                <img [src]="movie.poster" width="169" height="250" alt="adsdf"/>
            } @else {
                <img src="/default.jpg" width="169" height="250" alt="sdfsdf"/>
            }
          </a>

          <p>
            <a>
              {{ movie.title | uppercase}}
            </a>
          </p>

          <div>
            <a mat-flat-button>
              Edit
            </a>
            <button mat-flat-button type="button" class="warn" (click)="removeMovie(movie)">Delete</button>
          </div>
        </div>
      }

    </div>
  </ng-container>
</app-generic-list>
