@model SalesViewModel

@section title {
    <div class="row">
        <div class="col-7">
            <h3>Cashier's Console</h3>
        </div>

        <div class="col-2">
            <label for="cashier">Cashier Name:</label>
        </div>

        <div class="col-3">
            @* Display Cashier's name here *@
        </div>
    </div>
}

<br>

<div class="row">
    <div class="col-4">
        @* Category selection *@
        <select asp-for="SelectedCategoryId" class="form-control">
            <option>- Please Select -</option>

            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            }
        </select>

        <br>

        <div id="productsPartial">
            @* Product list *@
        </div>
        <br>

        <div>
            @* Product details *@
        </div>

        @* Sales form *@

    </div>

    <div class="col">
        @* List of transactions *@
    </div>

</div>

@section Scripts{
    <script>
        // Document ready event
        $(function() {

            // Handle category selection
            //      When #SelectedCategoryId change, trigger the function
            //      The #productsPartial element load function to transfer data
            //      After the controller process the categoryId data, return partial view which is a bunch of HTML
            //      Load function puts the partial view into #productsPartial element
            $("#SelectedCategoryId").on("change", function () {

                // {categoryId: }
                //      Use Javascript object to transfer data to ProductsController, ProductsByCategoryPartial action method
                //
                // this points to `#SelectedCategoryId` element
                $("#productsPartial").load("/products/ProductsByCategoryPartial", { categoryId : $(this).val() });
            });

            // Handle product selection
            $("#productsPartial").on("click", ".product-row", function () {

                // Highlight the row selected
                $(".product-row").removeClass("highlight");
                $(this).addClass("highlight");
            });
        });
    </script>
}