@model SalesViewModel

@section title {
    <div class="row">
        <div class="col-7">
            <h3>Cashier's Console</h3>
        </div>

        <div class="col-2">
            <label for="cashier">Cashier Name:</label>
        </div>

        <div class="col-3">
            @* Display Cashier's name here *@
        </div>
    </div>
}

<br>

<div class="text-danger" asp-validation-summary="All"></div>

<div class="row">
    <div class="col-4">
        @* Category selection *@
        <select asp-for="SelectedCategoryId" class="form-control">
            <option>- Please Select -</option>

            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
            }
        </select>

        <br>

        <div id="productsPartial">
            @* Product list *@
        </div>
        <br>

        <div id="productDetailPartial">
            @* Product details *@
        </div>

        @* Sales form *@
        <form method="post" asp-controller="sales" asp-action="sell" id="formSale">
            <input asp-for="SelectedProductId" type="hidden">

            <div class="pb-3">
                <label asp-for="QuantityToSell" class="col-form-label"></label>
                <input asp-for="QuantityToSell" class="form-control" type="number" min="1">
            </div>

            @* <br> *@

            <div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>

    </div>

    <div class="col">
        @* List of transactions *@
    </div>

</div>

@section Scripts{
    <script>
        // Document ready event
        $(function() {

            // Initialize the form
            //
            // Form doesn't contain any data which need to be transfered from model
            //      Therefore no need to use partial view
            //      Hence we use hide and show method instead of empty and load
            $("#formSale").hide();

            // Handle category selection
            //      When #SelectedCategoryId change, trigger the function
            //      The #productsPartial element load function to transfer data
            //      After the controller process the categoryId data, return partial view which is a bunch of HTML
            //      Load function puts the partial view into #productsPartial element
            $("#SelectedCategoryId").on("change", function () {

                // {categoryId: }
                //      Use Javascript object to transfer data to ProductsController, ProductsByCategoryPartial action method
                //
                // this points to `#SelectedCategoryId` element
                $("#productsPartial").load("/products/ProductsByCategoryPartial", { categoryId : $(this).val() });

                // Remove product detail when select other options
                $("#productDetailPartial").empty();
                $("#formSale").hide();
            });

            // Handle product selection
            $("#productsPartial").on("click", ".product-row", function () {

                // Highlight the row selected
                $(".product-row").removeClass("highlight");
                $(this).addClass("highlight");

                // Get the product ID from the "data-product-id" attribute of the clicked row
                var productId = $(this).attr("data-product-id");
                $("#productDetailPartial").load("/sales/SellProductPartial", { productId : productId});

                if (productId > 0) {
                    // <input asp-for="SelectedProductId" type="hidden">
                    //      Rendered as
                    //      <input type="hidden" data-val="true" data-val-required="The SelectedProductId field is required." id="SelectedProductId" name="SelectedProductId" value="0">
                    $("#SelectedProductId").val(productId);
                    $("#QuantityToSell").val("");
                    $("#formSale").show();
                }
                else {
                    $("#SelectedProductId").val("");
                    $("#formSale").hide();
                }
            });

        });
    </script>
}