@if (movie) {
    <div>
        <h2>{{movie.title}} ({{movie.releaseDate?.getFullYear()}})</h2>        
        
        <div class="genres-chip-container">
            <mat-chip-listbox>
                @for (genre of movie.genres; track $index) {
                    <mat-chip-option [routerLink]="['/movies/search']" [queryParams]="{genreId: genre.id}">
                        {{genre.name}}
                    </mat-chip-option>
                }
            </mat-chip-listbox> | {{movie.releaseDate?.toDateString()}} | Average: 0.0 | Your vote: 0.0
            
        </div>
        
        <div class="poster-trailer-container">
            <app-image [src]="movie.poster" width="225" height="315" alt="movie poster"></app-image>

            @if (trailerUrl)
            {
                <iframe
                    width="565" height="315"
                    [src]="trailerUrl"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                >
                </iframe>
            }
        </div>

        @if (movie.actors && movie.actors.length > 0){
            <div class="actors-container">
                <h3>Actors</h3>
                @for (actor of movie.actors; track $index) {
                    <div class="actor-container">
                        <app-image [src]="actor.picture" width="70" height="90" alt="actor picture"></app-image>

                        <span class="actor-name">
                            {{actor.name}}
                        </span>
                        
                        <span class="separator">...</span>
                        {{actor.character}}
                    </div>
                }
            </div>
        }

        @if (movie.theaters && movie.theaters.length > 0) {
            <h3>Being displayed on the following theaters</h3>
            
            <app-map [initialCoordinates]="coordinates" [readOnlyMode]="true"></app-map>
        }
    </div>
} @else {
    <app-loading></app-loading>
}