mat-chip-listbox {
    display: inline flex;
    vertical-align: middle;
}

.genres-chip-container {
    margin-bottom: 0.5rem;
}

.poster-trailer-container {
    display: flex;
}

.poster-trailer-container app-image {
    margin-right: 1rem;
}

iframe {
    border: 1px solid lightgray;
}

.actor-container {
    margin-bottom: 0.5rem;
}

.actor-container app-image {
    vertical-align: middle;
}

.actor-name {
    margin-left: 1rem;
    display: inline flow-root;
    width: 200px;
}

.separator {
    display: inline flow-root;
    width: 45px;
}