<!--
  Execute JavaScript expression in interpolation
    The expression is limited
    1. Simple expression like 2 + 2
    2. Display properties from the class of the component
    3. Functions from the class of the component
    4. Object

    The expression like Console.log() can't be placed in double curly braces
  -->

<!-- <p>The sum of 2 and 2 is {{ 2 + 2 }}</p> -->

<!-- <p>{{ title }}</p> -->

<!-- <p> The double of 3 is {{ duplicateNumber(3) }}</p> -->

<h2>Data of the movie</h2>

<!-- 
  track $index
    Allows the angular compiler to keep track of every single movie of the movies array
      We're doing that tracking using the index, using the order of the elements

    If I change the second element of movies, only this is going to change in the UI
      This is a way for angular to do updates efficiently

  $index
    Contains the order of each movie
  -->
@for(movie of movies; track $index) {
  <div class="movies-container">
    <div>
      {{ $index + 1 }}) Movie: <b>{{ movie.title | uppercase}}</b>
    </div>

    <div>
      <!-- Chain pipe -->
      Release Date: {{ movie.releaseDate | date:"MMMM-dd-yyyy" | uppercase}}
    </div>

    <div>
      Price: {{ movie.price | currency }}
    </div>
  </div>
}