<!--
  Execute JavaScript expression in interpolation
    The expression is limited
    1. Simple expression like 2 + 2
    2. Display properties from the class of the component
    3. Functions from the class of the component
    4. Object

    The expression like Console.log() can't be placed in double curly braces
  -->

<!-- <p>The sum of 2 and 2 is {{ 2 + 2 }}</p> -->

<!-- <p>{{ title }}</p> -->

<!-- <p> The double of 3 is {{ duplicateNumber(3) }}</p> -->

<h2>Data of the movie</h2>
<div>
  Movie: {{ movie.title }}
</div>

<div>
  Release Date: {{ movie.releaseDate }}
</div>