@* Type Category will combine with the below html file *@
@using WebAppMVC.Models
@model Category

<html>
    <body>
        @* @Model is the instance of Category class*@
        <h3>Category: @Model.CategoryId</h3>
    </body>
</html>
