@* Type Category will combine with the below HTML file *@
@using WebAppMVC.Models
@model Category

@section title {
    @* @Model is the instance of Category class*@
    <h3>Category: @Model.CategoryId</h3>
}
