<form [formGroup]="form" (submit)="saveChanges()">
    <div class="fields-container">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="form.controls.name"/>
            <mat-error>{{ getErrorMessagesForName() }}</mat-error>
        </mat-form-field>
    </div>

    <div class="buttons-container">
        <button mat-flat-button [disabled]="form.invalid" type="submit">Save changes</button>
        <a mat-stroked-button routerLink="/genres">Cancel</a>
    </div>
</form>