<app-menu></app-menu>

<!-- This styling way of Angular material is not working -->

<!-- <button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="secondary">Secondary</button>
<button mat-flat-button color="Warn">Warn</button> -->

<!-- <button mat-flat-button class="primary">Primary</button>
<button mat-flat-button class="secondary">Secondary</button>
<button mat-flat-button class="warn">Warn</button> -->

<div class="container">
    <!--
        Whenever we have a component that we want to display from a route, it is going to be put here inside
            Everything that is outside of it is going to be static through our while application
    -->
    <router-outlet></router-outlet>
</div>
