img {
    vertical-align: middle;
    margin-right: 8px;
    width: 35px;
    height: 45px;
}

td mat-form-field {
    margin: 10px 0;
}

mat-icon {
    cursor: pointer;
}

table {
    margin-bottom: 2rem;
}