.movies-container {
    display: flex;
    gap: 1rem;
    align-content: center;
    flex-wrap: wrap;
}

.movie-container > p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

button {
    margin-left: 1rem;
}