<button mat-flat-button type="button" (click)="addMovie()">
    <mat-icon>add</mat-icon>
    Add movie
</button>

<app-generic-list [elements]="movies">
    <ng-container content>
        @for (movie of movies; track $index) {
            <div class="movies-container">
                <div>
                    @if (movie.poster) {
                        <img [src]="movie.poster" width="169" height="250" alt="movie poster"/>
                    } @else {
                        <img src="/default.jpg" width="169" height="250" alt=""/>
                    }
                </div>

                <div>
                    <div>
                        {{ $index + 1 }}) <b>Movie: {{ movie.title | uppercase}}</b>
                    </div>

                    <div>
                        Release Date: {{ movie.releaseDate | date: "MMMM-dd-yyyy" | uppercase}}
                    </div>

                    <div>
                        Price: {{ movie.price | currency}}
                    </div>

                    <div>
                        <button type="button" (click)="removeMovie(movie)" >Remove</button>
                    </div>
                </div>
            </div>
        }
    </ng-container>
</app-generic-list>